#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  perspective: 1000px;
}

.product-image{
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transform: translateZ(-40px);
  transition: all 0.2s ease;
  border: 1px solid #5ccd6d;
}