#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}
.cart-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 5rem;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 100%;
  width: 70vw;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 0.5rem;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem;
}

.cart-item-title {
  align-self: flex-start;
}