#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  gap: 2rem;
  justify-content: center;
  perspective: 1000px;
  z-index: 10;
}

.product-image{
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
}

.product-card h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  height: 6rem; 
  overflow: hidden;
}

.product-card h2:hover {
  color: #5ccd6d; 
  overflow-y: auto;
  scrollbar-width: thin;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transform: translateZ(-40px);
  transition: all 0.2s ease;
  border: 1px solid #5ccd6d;
}

.product-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.product-quantity input {
  width: 50px;
  text-align: center;
  height: 1.2rem;
  margin: 0px 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-add{
  margin-top: 10px;
}